
  /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
  
  .contact .section-title p {
    padding-top: 20px;
  }

  .contact .btn {
    background-color: #fc8129;
    border-color: #fc8129;
    color: white;
  }
  
  .contact .info {
    width: 100%;
    background: #fff;
  }

  .address h4 {
    font-size: large;
  }

  .email h4 {
    font-size: large;
  }

  .phone h4 {
    font-size: large;
  }
  
  .contact .info i {
    font-size: 20px;
    color: #ef6603;
    float: left;
    width: 44px;
    height: 44px;
    background: #ffecde;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2a2c39;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #555974;
  }
  
  .contact .info .email, .contact .info .phone {
    margin-top: 40px;
  }
  
  .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: #ef6603;
    color: #fff;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  